/* Reset */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


/* Common */
.span-wrap {
    overflow: auto;
}
.span-right {
    display: inline-block;
    float: right;
}


/* Flex layout */
body {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
.flex-c {
    display: flex;
    justify-content: center;
    padding: 0 30px;
}
.flex-i {
    flex-basis: 1000px;
}


/* Header */
header, footer {
    background: #2f2f2f;
    color: whitesmoke;
}
header > div {
    padding: 15px 0;
}
header a,
header a:hover {
    color: whitesmoke;
}
.brand {
    font-size: 1.5em;
}
.user {
    font-size: 1.2em;
    margin-right: 10px;
}
nav {
    display: inline;
}
nav ul {
    list-style: none;
    display: inline;
}
nav li {
    display: inline;
}


/* Footer */
footer .flex-i {
    padding: 15px;
    text-align: center;
}


/* Article index */

.article-fc {
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
}
.article-fi {
    flex-basis: 33.33%;
    padding: 0 15px;
}
@media(max-width: 992px) {
    .article-fi {
        flex-basis: 50%;
    }
}
@media(max-width: 768px) {
    .article-fi {
        flex-basis: 100%;
    }
}


/* DEBUG */
.h {
    display: none;
}
.r {
    background-color: rgba(255,0,0,0.2) !important;
}
.g {
    background-color: rgba(0,255,0,0.2) !important;
}
.b {
    background-color: rgba(0,0,255,0.2) !important;
}
.y {
    background-color: rgba(255,255,0,0.2) !important;
}
.c {
    background-color: rgba(0,255,255,0.2) !important;
}
.m {
    background-color: rgba(255,0,255,0.2) !important;
}
.rb {
    border: 3px solid red;
}
.gb {
    border: 3px solid green;
}
.bb {
    border: 3px solid blue;
}
.yb {
    border: 3px solid yellow;
}
.cb {
    border: 3px solid cyan;
}
.mb {
    border: 3px solid magenta;
}
